<<<<<<< HEAD
.strongarm {
  color:#366 !important;
  background:#e0f8f8 !important;
  border:1px solid #8cc !important;
=======
.strongarm {
  color:#366 !important;
  background:#e0f8f8 !important;
  border:1px solid #8cc !important;
>>>>>>> 6d2bfc44ff0188b46711530fc6441339db8d58cc
  }