<<<<<<< HEAD

.views-exposed-form .views-exposed-widget {
  float: right; /* RTL */
  padding: .5em 1em 0 0; /* RTL */
}
=======

.views-exposed-form .views-exposed-widget {
  float: right; /* RTL */
  padding: .5em 1em 0 0; /* RTL */
}
>>>>>>> 6d2bfc44ff0188b46711530fc6441339db8d58cc
